@import "leaflet/dist/leaflet.css";
@import "leaflet-draw/dist/leaflet.draw.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1b4332;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b4332;
    --foreground: #d8f3dc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
